<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="EN">
    <head>
        <meta charset="utf-8"/>
        <title>SuperShop</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col" th:each="image: ${product.images}">
                    <img th:src="@{'/products/images/' + ${image.name}}" alt="Image" class="img-thumbnail" width="100px" height="100px">
                </div>

            </div>
            <div class="row">
                <div class="col table table-bordered">
                    Наименование
                </div>
                <div class="col table table-bordered">
                    [[${product.title}]]
                </div>
            </div>
            <div class="row">
                <div class="col table table-bordered">
                    Описание
                </div>
                <div class="col table table-bordered">
                    [[${product.description}]]
                </div>
            </div>
            <div class="row">
                <div class="col table table-bordered">
                    Дата добавления
                </div>
                <div class="col table table-bordered">
                    [[${product.added} ]]
                </div>
            </div>
            <div class="row">
                <div class="col table table-bordered">
                    Цена
                </div>
                <div class="col table table-bordered">
                    [[${product.price} ]]
                </div>
            </div>
            <div class="row">
                <div class="col table table-bordered">
                    Наличие
                </div>
                <div class="col table table-bordered" th:switch="${product.available}">
                    <p class="alert alert-success" th:case="true"> Есть в наличии </p>
                    <p class="alert alert-danger" th:case="false"> Нет в наличии </p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm table table-bordered">
                    Категория товара
                </div>
                <div class="col table table-bordered">
                    [[${product.category} ]]
                </div>
            </div>
        </div>
    </body>
</html>